@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  /* Style input text */
  input,
  textarea {
    color: #ccc; /* Adjust to a lighter shade for readability on dark backgrounds */
    background-color: transparent; /* Optional: Ensure the background doesn’t clash */
    border: 1px solid #979797; /* Optional: Subtle border for visibility */
  }
  /* Make placeholder text darker */
  input::placeholder,
  textarea::placeholder {
    color: #939393; /* Adjust this to your preferred darker shade */
    opacity: 1; /* Ensure the color is not washed out */
  }

  /* Optional: Adjust for focus state */
  input:focus::placeholder,
  textarea:focus::placeholder {
    color: #222222; /* Slightly darker shade for focused inputs */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
